#S3 part
#export("x12","plot.x12","summary.x12","summary.output.x12","read.spc")
export("x12","plot.x12","summary.x12","read.spc")
S3method(plot, x12)
S3method(print, x12)
S3method(summary, x12)

##S4 part
importFrom("graphics", plot)
exportClasses(x12Single,x12Batch,x12Output,x12Parameter,x12BaseInfo,diagnostics,x12List,fbcast,crossValidation)
## All methods for imported generics:
exportMethods(X12,summary,setP,getP,prev,cleanHistory,dim,length,crossVal,plot,plotSpec,plotRsdAcf,plotSeasFac,saveP,loadP,times)